{% extends 'base.html' %}

{% block title %}
  Categorias
{% endblock %}

{% block css %}
{% endblock %}

{% block conteudo %}

  <h2>Cadastro de Atividade</h2>
 
  <form id="atividadeForm" action="/novaAtividade" method="post">
      <div class="form-group">
          <label for="nomeAtividade">Nome da Atividade:</label>
          <input type="text" 
                    class="form-control" 
                    id="nomeAtividade" 
                    placeholder="Ex: limpeza" 
                    name="nomeAtividade"
                    
                    required>
            <label for = "status"> status</label>
            <select type="text" id="status" name="status">
                <option>iniciar</option>
                <option>em andamento</option>
                <option>finalizado</option>
            </select>
      </div>

      <input type="hidden" name="id">

      <button type="submit" class="btn btn-primary">
        {% if atividades %}
            Adicionar 
        {% else %}
            Atualizar 
        {% endif %}
        Atividade
      </button>
  </form>
  
  {% if atividades %}
  <br><br>
  <h2>Lista de Atividade</h2>
    <div class="table-responsive">
        <table id="tabelaAtividades" class="table table-striped table-sm table-bordered bg-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome da Atividade</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            
            {% for atividade in atividades %}
            <tr>
                <td>{{atividade.id_atividade}}</td>
                <td>{{atividade.nome}}</td>
                <td>{{atividade.status}}</td>
                
                    <a class="btn btn-warning btn-xs"
                        href="/atividade/edit/{{atividade.id_atividade}}">
                        <i class="fas fa-edit"></i>
                    EDITAR</a>
                    
                    <a class="btn btn-danger btn-xs"
                        href="/atividade/delete/{{atividade.id_atividade}}">
                        <i class="far fa-times-circle"></i>
                    EXCLUIR</a>
            
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    </div>

    {% endif %}

{% endblock %}

{% block js %}
    <script type='text/javascript'>
    $(document).ready(function() {
        $('#tabelaAtividade').DataTable();
    });
    </script>
{% endblock %}
